﻿@model WebSite.Models.ApplicationManageViewModel

@{
    ViewBag.Title = "Create a new application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5">
        @Html.Partial("ManageApplicationPartial")
    </div>
</div>