﻿@model WebSite.Models.ApplicationViewModel

@{
    ViewBag.Title = "Delete your application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Are you sure you want to delete this application?</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2"><b>@Html.LabelFor(model => model.Name)</b></div>
                <div class="col-md-6">@Model.Name</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-2"><b>@Html.LabelFor(model => model.TeamName)</b></div>
                <div class="col-md-6">@Model.TeamName</div>
            </div>
        </li>
    </ul>
    <button type="submit" class="btn btn-danger">Delete</button>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
