﻿@model WebSite.Models.ApplicationManageViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <div class="form-group">
        <label>@Html.LabelFor(model => model.Name)</label>
        @Html.TextBoxFor(model => model.Name, new { @placeholder = "Enter name", @class = "form-control" })
    </div>
    <div class="form-group">
        <label>@Html.LabelFor(model => model.Description)</label>
        @Html.TextAreaFor(model => model.Description, new { @placeholder = "Enter description", @class = "form-control" })
    </div>
    <div class="form-group">
        <label>@Html.LabelFor(model => model.TeamId)</label>
        @Html.DropDownList("TeamId", null, "Select team", new { @placeholder = "Select team", @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
}